---
---

<section class="mb-8">
  <div class="mb-6">
    <h1
      class="font-bold text-text-heading text-center text-4xl md:text-5xl pt-4 pb-2 overflow-hidden relative w-[14ch] mx-auto overflow-x-hidden"
    >
      <span
        id="box"
        class="bg-primary-purple py-2 px-2 absolute w-[12ch] left-1/2 bottom-1 z-0 -translate-x-1/2 opacity-0"></span>

      <span class="z-10 relative">Pelle v/d Knaap</span>
    </h1>
    <!-- <p class="text-2xl pb-4">Web Developer. OSS Wizard. Blogger.</p> -->
  </div>
  <div>
    <p>
      Hi! Welcome to my site! <br />
      You can find my blog posts and projects here. <br />
      <br />
    </p>
  </div>
</section>

<script>
  import { timeline } from "motion";

  timeline([
    [
      "#box",
      { x: ["-50%"], scaleY: [0.9, 1.025] },
      { duration: 0.3, at: 0.2 },
    ],
    [
      "#box",
      { opacity: [0, 1] },
      {
        duration: 0.8,
        easing: "ease-in-out",
        at: 0.4,
      },
    ],
  ]);
</script>
